//Calculate percentage of a child size to a parent size
@function calc-per($child-size, $parent-size) {
  @if ($parent-size == 0) {
    @error "Parent size cannot be zero";
  }
  @return calc($child-size / $parent-size) * 100%;
}

//Calculate rem of a pixel size
@function calc-rem($px) {
  @if ($px == 0) {
    @error "Pixel size cannot be zero";
  }
  @return calc($px / 16)rem;
}

//Media Queries
$breakpoints: (
        'small': 576px,
        'medium': 768px,
        'large': 992px,
        'xlarge': 1200px,
        'xxlarge': 1400px,
);

@function get-breakpoint($device) {
  @if map-has-key($breakpoints, $device) {
    @return map-get($breakpoints, $device);
  } @else {
    @error "No breakpoint defined for #{$device}";
  }
}

@mixin media($device, $type: min) {
  $breakpoint: get-breakpoint($device);

  @if $type == min {
    @media (min-width: $breakpoint) {
      @content;
    }
  } @else if $type == max {
    $breakpoint: $breakpoint - 0.0625rem;

    @media (max-width: $breakpoint) {
      @content;
    }
  } @else {
    @error "Invalid type: #{$type}. Use 'min' or 'max'.";
  }
}
//Media Queries End