$text-primary: #111111;
$text-secondary: #444444;

$bg-primary: #F2FDFF;
$bg-secondary: #FFFFFF;
$bg-tertiary: #111111;

$font-primary: 'Plus Jakarta Sans';
$font-secondary: 'Manrope';

$font-size-base-lg: 18px;
$font-size-base: 12px;

$header-padding-y: 24px;
$header-padding-y-lg: 32px;
$header-inner-height: 32px;
$header-inner-height-lg: 40px;