.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  z-index: 5;
  transition: $transition;

  width: 100vw;
  padding: $header-padding-y 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: $bg-primary;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: $header-inner-height;
  }

  &__overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;

    background: rgba(24, 24, 24, 0.8);
    transition: 0.45s ease-in-out;
  }

  &--scroll {
    background: rgba(209, 235, 250, 0.7);
  }
}

.header__logo {
  flex: 1 0 auto;

  &_mobile {
    @include flex-center;
    margin-right: $header-nav-spacing-md;

    img {
      width: 32px;
      height: 32px;
    }
  }

  &_desktop {
    display: none;
  }
}

.header__nav {
  @include absolute-top-left;
  transform: translateX(-100vw);

  width: 70vw;
  height: 100vh;
  padding: 2rem;
}

.active {
  .header {
    &__nav {
      transform: translateX(0);
      z-index: 5;
    }

    &__overlay {
      display: block;
    }
  }
}

@include media('large') {
  .header {
    padding: $header-padding-y-lg 0;

    &__inner {
      height: $header-inner-height-lg;

      justify-content: center;
    }
  }

  .header__logo {
    flex: 0 0 40px;

    img {
      width: 40px;
      height: 40px;
    }

    &_mobile {
      display: none;
    }

    &_desktop {
      @include flex-center;

      margin: 0 $header-nav-spacing-lg;
    }
  }

  .header__nav {
    position: static;
    transform: translate(0);
    width: auto;
    height: auto;
  }
}