.main {
  padding-top: calc($header-inner-height + 2* $header-padding-y);

  scroll-behavior: smooth;
}

.main__item {
  position: relative;
  margin-bottom: 40px;

  scroll-margin-top: calc($header-inner-height + 2* $header-padding-y);
}

.main__wrapper_center {
  .main__title, .main__text{
    text-align: center;
  }
}

.main__title, .main__text {
  margin-bottom: 16px;
}

.main__title {
  text-align: center;
}

.main__image {
  img {
    width: 100%;
    height: 100%;
    max-height: 154px;
    object-fit: cover;
    border-radius: 12px;
  }
}

.main__image_sm {
  img {
    max-height: 101px;
  }
}

.main__image_xl {
  img {
    max-height: 200px;
  }
}

.main__image_bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;

  z-index: -1;

  img {
    max-height: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;

    border-radius: 0;
  }
}

.main__link {
  display: inline-block;
  width: max-content;
  padding: 14px 32px;

  background: #0D7A94;
  border-radius: 16px;

  span {
    font-family: $font-primary;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    /* identical to box height, or 17px */

    color: $white;
  }

  transition: all 0.3s ease;
  &:hover, &:focus {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
}


.main__consistency-item {
  flex: 1 1 auto;
  margin-right: 15px;

  &:last-child {
    flex: 0 0 39%;
    margin-right: 0;
  }
}

.main__project-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__project-item {
  flex: 1 1 33%;

  img {
    height: 100%;
    aspect-ratio: 1.1/1;
  }
}

.main_bg-gray {
  background: $gray;
}

.main_py {
  padding: 40px 0;
}

@include media('large') {
  .main {
    padding-top: calc($header-inner-height-lg + 2 * $header-padding-y-lg);
  }

  .main__item {
    margin-bottom: 120px;
    scroll-margin-top: calc($header-inner-height-lg + 2* $header-padding-y-lg);
  }


  .main__wrapper_lg-left {
    .main__title, .main__text{
      text-align: left;
    }
  }

  .main__text-column {
    padding-top: 35px;
    width: 43%;
  }

  .main__title, .main__text {
    margin-bottom: 32px;
  }

  .main__title {
    margin-bottom: 32px;

    text-align: left;
  }

  .main__image {
    img {
      min-height: 350px;
      max-height: 372px;
      border-radius: 32px;
    }
  }

  .main__image_sm {
    img {
      min-height: 320px;
      max-height: 350px;
    }
  }

  .main__image_lg {
    img {
      min-height: 380px;
      max-height: 400px;
    }
  }

  .main__image_xl {
    img {
      min-height: 430px;
      max-height: 430px;
    }
  }

  .main__project-item {
    img {
      aspect-ratio: 1.2/1;
    }
  }

  .main__contact-image:nth-child(1) {
    flex: 0 0 40%;
  }

  .main__image_bg {
    position: static;
    top: 0;
    left: 0;
    right: 0;
    bottom:0;

    z-index: 0;

    img {
      border-radius: 32px;
    }
  }

  .main__link {
    padding: 18px 32px;

    span {
      font-size: 18px;
    }
  }

  .main__consistency-item {
    flex: 1 1 auto;
    margin-right: 35px;

    &:last-child {
      flex: 0 0 30%;
      margin-right: 0;
    }
  }

  .main_lg-bg-none{
    background: none;
  }

  .main_lg-bg-light {
    background: $light;
  }

  .main_lg-py {
    padding: 60px 0;
  }

  .main_lg-py-none {
    padding: 0;
  }
}
