$main-home-inner-mb: 16px;
$main-home-inner-mb-lg: 0;

$main-home-cards-height: 72px;
$main-home-cards-height-sm: 78px;
$main-home-cards-height-xl: 95px;
$main-home-cards-height-xxl: 110px;

$main-home-counters-height: 36px;
$main-home-counters-height-sm: 48px;
$main-home-counters-height-lg: auto;

.main-home {

  background: $bg-secondary;

  position: relative;

  padding-top: 45px;
}

.main-home__title, .main-home__text {
  position: relative;
  z-index: 2;
  text-align: center;
}

.main-home__title {
  margin-bottom: 10px;
}

.main-home__text {
  margin-bottom: 45px + $main-home-inner-mb;
}

.main-home__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: calc($main-home-cards-height + $main-home-counters-height + 3 * $main-home-inner-mb);

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.main-home__cards {
  height: $main-home-cards-height;
  margin-bottom: $main-home-inner-mb;

}

.main-home__card{
  margin-right: 5px;

  &:last-child {
    margin-right: 0;
  }

  img {
    height: 100%;
    border-radius: 12px;
  }
}

.main-home__counters {
  height: $main-home-counters-height;
  margin-bottom: $main-home-inner-mb;
}

.main-home__counter, .main-home__counter>span {
  font-family: $font-secondary;
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 150%;
  text-transform: uppercase;

  color: $text-secondary;
}

@media screen and (min-width: 360px) {
  .main-home__card {
    aspect-ratio: 1.08/1;
  }
  .main-home__counters {
    height: $main-home-counters-height-sm;
  }
  .main-home__counter, .main-home__counter > span {
    font-size: 16px;
  }
}

@include media('large') {
  .main-home {
    background: $bg-primary;
    padding: 0 0 60px 0;


    .container {
      display: grid;
      grid-template-columns: 56% 40%;
      column-gap: 4%;
      align-items: center;
    }
  }

  .main-home__title {
    text-align: left;

    grid-row: 1/2;
    grid-column: 1/2;

    padding-top: 23px;
    margin-bottom: 30px;
  }

  .main-home__text {
    margin: $main-home-inner-mb-lg;

    text-align: left;

    grid-row: 2/3;
    grid-column: 2/3;
  }

  .main-home__image {
    position: relative;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;

      border-radius: 32px;
    }

    &:nth-child(2) {
      grid-row: 2/5;
      grid-column: 1/2;
    }
    &:nth-child(3) {
      grid-row: 1/2;
      grid-column: 2/3;
    }
  }

  .main-home__text {
    padding-top: 15px;
  }

  .main-home__cards {
    margin: $main-home-inner-mb-lg;
    grid-row: 3/4;
    grid-column: 2/3;
  }

  .main-home__counters {
    height: $main-home-counters-height-lg;
    margin: $main-home-inner-mb-lg;

    grid-row: 4/5;
    grid-column: 2/3;
  }

  .main-home__counter {
    font-family: $font-primary;
    font-style: italic;
    font-weight: 500;
    font-size: 18px;
    line-height: 120%;
    text-transform: capitalize;

    span {
      font-size: 24px;
      font-style: normal;
    }
  }
}

@include media('xlarge') {
  .main-home__cards {
    height: $main-home-cards-height-xl;
  }
  .main-home__counter {
    font-size: 24px;
    span {
      font-size: 32px;
    }
  }
}

@include media('xxlarge') {
  .main-home__cards {
    height: $main-home-cards-height-xxl;
  }

  .main-home__card{
    max-width: 120px;

    margin-right: 15px;

    img {
      border-radius: 24px;
    }
  }
  .main-home__counter {
    span {
      font-size: 48px;
    }
  }

  .main-home__image {
    &:nth-child(2) {
      height: 401px;
    }
    &:nth-child(3) {
      height: 317px;
    }
  }
}
